@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  line-height: 250%;
  background-color: rgb(75, 73, 73);
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 70px;
}

a {
  color: gold;
  text-decoration: none;
  background-image: linear-gradient(90deg, #4b4949, gold, #4b4949);
  background-size: 0% 0px;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 300ms ease;
}

.real_age {
  color: gold;
  position: relative;
}

.real_age::before,
.real_age::after {
  font-size: small;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(0);
  transition: 150ms transform;
  transform-origin: top center;
}

.real_age::before {
  content: attr(tooltip);
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 10px;
  background: #4b4949;
  border: 0.1px solid;
}

.real_age:hover::before,
.real_age:hover::after {
  transform: translateX(-50%) translateY(100%) scale(1);
}

a:hover {
  background-size: 100% 2px;
}

#projects-h1 {
  margin-top: 100px;
}

// .projects-items > li {
//   list-style-type: none;
// }

// .projects-items p {
//   margin: 0 100px 100px 100p0;
// }

// .projects-items video {
//   margin: 20px;
// }

$border-width: 1px;

.tree ul {
  position: relative;
  padding: 1em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 1em 0.5em 0 0.5em;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: $border-width solid #ccc;
    width: 50%;
    height: 1em;
  }
  &::after {
    right: auto;
    left: 50%;
    border-left: $border-width solid #ccc;
  }
  &:only-child::after,
  &:only-child::before {
    display: none;
  }
  &:only-child {
    padding-top: 0;
  }
  &:first-child::before,
  &:last-child::after {
    border: 0 none;
  }
  &:last-child::before {
    border-right: $border-width solid #ccc;
    border-radius: 0 5px 0 0;
  }
  &:first-child::after {
    border-radius: 5px 0 0 0;
  }
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: $border-width solid #ccc;
  width: 0;
  height: 1em;
}

b {
  font-size: 20px;
}

// .video-container {
//   margin: 100px;
// }

// .projects-items li{
//   display: inline-block;
//   list-style-type: none;
// }

.projects-items ul {
  margin-inline: 50px;
  // text-align: center;
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 80px;
  // position: relative;
}

.projects-items li {
  display: flex;
  align-items: center;
  margin-inline: 20px;
}

.projects-items p {
  border: 0.1px solid white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
}

video {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  display: block
}