.success {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .success li {
    margin: 150px;
  }
  
  .success button {
    font-size: 50px;
  }
  
  .success a {
    margin: -20px;
    padding: 20px;
  }

  .success a {
    color: white;
    text-decoration: none;
    background-image: none;
    transition: 300ms;
    font-weight: normal;
    background-color: #4b4949;
    padding-inline: 100px;
    margin: -10px;
    padding: 10px;
    border-radius: 20px;
  }

  .success a:hover, .success a:focus {
    color: #4b4949;
    font-weight: bold;
    background-color: gold;
  }